@font-face {
  font-family: 'TT Chocolates';
  src: url('/assets/fonts/TT Chocolates Trial Bold italic.otf');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Chocolates';
  src: url('/assets/fonts/TT Chocolates Trial Bold.otf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Chocolates';
  src: url('/assets/fonts/TT Chocolates Trial DemiBold Italic.otf');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Chocolates';
  src: url('/assets/fonts/TT Chocolates Trial DemiBold.otf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Chocolates';
  src: url('/assets/fonts/TT Chocolates Trial ExtraBold Italic.otf');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Chocolates';
  src: url('/assets/fonts/TT Chocolates Trial ExtraBold.otf');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Chocolates';
  src: url('/assets/fonts/TT Chocolates Trial ExtraLight Italic.otf');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Chocolates';
  src: url('/assets/fonts/TT Chocolates Trial ExtraLight.otf');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Chocolates';
  src: url('/assets/fonts/TT Chocolates Trial Italic.otf');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Chocolates';
  src: url('/assets/fonts/TT Chocolates Trial Light Italic.otf');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Chocolates';
  src: url('/assets/fonts/TT Chocolates Trial Light.otf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Chocolates';
  src: url('/assets/fonts/TT Chocolates Trial Medium Italic.otf');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'TT Chocolates';
  src: url('/assets/fonts/TT Chocolates Trial Medium.otf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'TT Chocolates';
  src: url('/assets/fonts/TT Chocolates Trial Regular.otf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}