<main class="game-container flex flex-row" style="height: 100vh" *ngIf="game && playerMap">
  <div class="slots-left flex flex-col">
    <app-player-slot
      class="flex-1"
      *ngIf="getPlayer(1)"
      [player]="getPlayer(1)"
      [vezDele]="getVezDele(1)"
      [quantidadeCartas]="getQuantidadeCartas(1)"
    />
    <app-player-slot
      class="flex-1"
      *ngIf="getPlayer(0)"
      [player]="getPlayer(0)"
      [vezDele]="getVezDele(0)"
      [quantidadeCartas]="getQuantidadeCartas(0)"
    />
  </div>

  <div class="flex flex-col flex-1 overflow-hidden">
    <div class="flex flex-row slots-top">
      <app-player-slot
        class="flex-1"
        *ngIf="getPlayer(2)"
        [player]="getPlayer(2)"
        [vezDele]="getVezDele(2)"
        [quantidadeCartas]="getQuantidadeCartas(2)"
      />
      <app-player-slot
        class="flex-1"
        *ngIf="getPlayer(3)"
        [player]="getPlayer(3)"
        [vezDele]="getVezDele(3)"
        [quantidadeCartas]="getQuantidadeCartas(3)"
      />
    </div>

    <div class="flex flex-row flex-1 p-5">
      <div class="slot slot-middle flex-1 flex flex-col">
        <div
          class="relative w-full h-full flex items-center justify-center text-center flex-col max-w-sm max-h-96 rounded-lg"
          style="background-image:url('/assets/wood-texture.svg')"
        >
          <h1 class="absolute right-2 top-1 text-black">
          É a
          {{
            game.jogadorAtual.id === me.id
            ? 'sua vez'
            : 'vez de ' + (game.jogadorAtual.name || '(Sem nome)')
          }}
          </h1>

          <uno-card [card]="game.descarteUltimaCarta!" [size]="centerCardSize" />

          <img
            src="/assets/arrow-rotate.svg"
            class="game-rotation absolute bottom-3 left-3"
            [class.inverted]="game.direcao === -1"
          />
          <!-- <app-baralho
            [quantidade]="game.baralhoCount"
            (comprar)="comprar"
            [disabled]="game.jogadorAtual.id !== player.id"
          /> -->

            <button (click)="fullscreen()" class="btn btn-square btn-sm absolute top-2 left-2">
              <i class="fas fa-expand"></i>
            </button>

            <button
              class="btn btn-warning mt-2 absolute right-2 bottom-2 sm:btn-sm md:btn-md"
              (click)="game.comprou ? passar() : comprar()"
              [disabled]="game.jogadorAtual.id !== me.id"
            >
              {{ game.comprou ? 'PASSAR' : 'COMPRAR (' + game.baralhoCount + ')' }}
            </button>
        </div>
      </div>
    </div>

    <div class="flex flex-row">
      <div class="w-full slot">
        <div class="my-cards-container" [class.disabled]="game.jogadorAtual.id !== me.id">
          <div class="my-cards" #myCards>
            <div
              class="uno-card"
              (click)="jogar(i, card)"
              [class.naoPode]="!game.podeJogar(card)"
              *ngFor="let card of me.cards || []; index as i; trackBy: trackById"
            >
              <uno-card [@zoom] [card]="card" [size]="myCardSize" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-col slots-right">
    <app-player-slot
      class="flex-1"
      *ngIf="getPlayer(4)"
      [player]="getPlayer(4)"
      [vezDele]="getVezDele(4)"
      [quantidadeCartas]="getQuantidadeCartas(4)"
    />
    <app-player-slot
      class="flex-1"
      *ngIf="getPlayer(5)"
      [player]="getPlayer(5)"
      [vezDele]="getVezDele(5)"
      [quantidadeCartas]="getQuantidadeCartas(5)"
    />
  </div>
</main>

<!-- <pre>{{game|json}}</pre> -->
<app-select-color [select]="selectColor"></app-select-color>
