::ng-deep body {
  @apply overflow-hidden;
}

.game-container {
  @apply flex-1 flex overflow-hidden;
}

.players {
  @apply w-[200px] p-[5px];
}

.main-game {
  @apply flex-1 p-5 flex items-center justify-center flex-col;
}

.my-cards-container {
  @apply w-full flex justify-center overflow-x-auto;
  transition: 0.3s ease;
}

.my-cards-container.disabled {
  @apply opacity-50 cursor-not-allowed pointer-events-none translate-y-1/2;
}

.my-cards-container > .my-cards {
  @apply max-w-full overflow-x-auto flex p-2;
}

.my-cards-container > .my-cards > .uno-card {
  @apply flex mr-[3px] cursor-pointer;
  transition: 0.1s ease;
}

.my-cards-container:not(.disabled) > .my-cards > .uno-card:hover {
  transform: scale(1.1);
}

.my-cards-container:not(.disabled) > .my-cards > .uno-card:active {
  transform: scale(0.9);
}

.my-cards-container:not(.disabled) > .my-cards > .uno-card.naoPode {
  @apply opacity-60 cursor-not-allowed pointer-events-none;
}

.slot {
  @apply w-full h-full flex items-center justify-center text-center;
}

.slot.empty {
  @apply hidden;
}

::ng-deep .cards-container {
  @apply flex items-center justify-center;
}

::ng-deep .slot .name {
  @apply absolute whitespace-nowrap;
}

::ng-deep .slots-top .slot {
  @apply justify-start !flex-col;
}

::ng-deep .slots-top .slot .cards-container {
  @apply w-full h-[50px];
}

::ng-deep .slots-left .slot {
  @apply justify-start;
}

::ng-deep .slots-right .slot {
  @apply justify-start flex-row-reverse;
}

::ng-deep .slots-left .slot .cards-container,
::ng-deep .slots-right .slot .cards-container {
  @apply w-[50px] h-full;
}

::ng-deep .slots-top .slot {
  @apply !flex-col-reverse;
}

::ng-deep .slots-top .slot .name-container {
  @apply -order-1;
}

::ng-deep .slots-left .slot .cards-container .cards,
::ng-deep .slots-left .slot .avatar,
::ng-deep .slots-left .slot .name {
  @apply rotate-90;
}

::ng-deep .slots-left .slot .cards-container .cards,
::ng-deep .slots-left .slot .avatar {
  @apply translate-x-[-10px];
}

::ng-deep .slots-right .slot .cards-container .cards,
::ng-deep .slots-right .slot .avatar,
::ng-deep .slots-right .slot .name {
  @apply -rotate-90;
}

::ng-deep .slots-right .slot .cards-container .cards,
::ng-deep .slots-right .slot .avatar {
  @apply translate-x-[10px];
}

.game-rotation {
  @apply w-20 opacity-30 pointer-events-none;
  animation: rotate 10s linear infinite;
}

.game-rotation.inverted {
  @apply scale-[-1];
  animation-direction: reverse;
}

@keyframes rotate {
  from {
    transform: rotate(0deg) scaleX(var(--tw-scale-x, 1));
  }

  50% {
    transform: rotate(180deg) scaleX(var(--tw-scale-x, 1));
  }

  to {
    transform: rotate(360deg) scaleX(var(--tw-scale-x, 1));
  }
}

.gritar-uno {
  @apply rounded-full bg-[#ed1c24] flex items-center justify-center w-16 h-16 absolute left-3 top-1/2 -translate-y-1/2;
  box-shadow: #9d0208 0 8px, black 0 8px 10px;
  border-bottom: #ffffff80 3px solid;
  transition: .3s ease;
}

.gritar-uno:active {
  border-bottom: transparent 3px solid;
	box-shadow: #9d0208 0 0, black 0 0 3px;
	transform: translateY(calc(-50% + 8px));
}

.baralho .carta-topo {
  @apply absolute right-3 top-1/2 -translate-y-1/2 transition-all;
}

.baralho .cartas {
  @apply absolute right-3 top-1/2 -translate-y-1/2 shadow-[black_5px_5px] rounded-[12px];
}

.baralho:not(.disabled):hover .carta-topo,
.baralho:not(.disabled):focus .carta-topo {
  @apply -translate-x-2 cursor-pointer;
  --tw-translate-y: calc(-50% - 0.5rem);
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate))
    skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x))
    scaleY(var(--tw-scale-y));
}

.center-card {
  --size: 1;
}

.my-card {
  --size: 0.7;
}

@media (min-width: 768px) {
  .center-card {
    --size: 1.5;
  }

  .my-card {
    --size: 1;
  }
}
