<div
  *ngIf="message"
  [@fade]
  class="event-screen"
  [class]="{
		'bg-black': message === 'O jogo começou',
		'bg-blue-900': message === 'Bloqueado',
		'bg-green-900': message === 'Inverteu',
		'bg-orange-900': message === 'Comprou +2',
		'bg-red-900': message === 'Comprou +4',
		'bg-purple-900': message === 'Esqueceu de dizer UNO',
		'bg-yellow-900': message.endsWith(' ganhou o jogo!'),
	}"
>
  <div [ngSwitch]="message" class="w-full">
    <div *ngSwitchCase="'O jogo começou'" class="animate__animated animate__zoomIn">
      <div class="icon fa-solid fa-flag-checkered animate__animated animate__fadeIn"></div>
    </div>

    <div *ngSwitchCase="'Bloqueado'" class="animate__animated animate__zoomIn">
      <div class="icon fa-solid fa-ban animate__animated animate__rotateIn animate__fast"></div>
    </div>

    <div *ngSwitchCase="'Inverteu'" class="animate__animated animate__zoomIn">
      <div class="icon uno-invert fa-solid fa-rotate"></div>
    </div>

    <div
      *ngSwitchCase="'Comprou +2'"
      class="animate__animated animate__zoomIn relative w-full h-24 sm:h-32"
    >
      <div class="uno-card"></div>
      <div class="uno-card"></div>
    </div>

    <div
      *ngSwitchCase="'Comprou +4'"
      class="animate__animated animate__zoomIn relative w-full h-32"
    >
      <div class="uno-card"></div>
      <div class="uno-card"></div>
      <div class="uno-card"></div>
      <div class="uno-card"></div>
    </div>

    <div
      *ngSwitchCase="'Esqueceu de dizer UNO'"
      class="animate__animated animate__zoomIn relative w-full h-24 sm:h-32"
    >
      <div class="uno-card"></div>
      <div class="uno-card"></div>
    </div>

    <div *ngSwitchDefault>
      <div *ngIf="message.endsWith(' ganhou o jogo!')">
        <div class="icon fa-solid fa-medal"></div>
      </div>
    </div>
  </div>

  <div class="title animate__animated animate__bounceIn" style="animation-delay: 0.5s">
    {{ message }}!
  </div>
</div>
