<div class="container max-w-6xl mx-auto px-5 py-4">
  <h1 class="logo-style mb-4 text-center">SALAS</h1>

  <span
    *ngIf="loading"
    class="loading loading-spinner loading-lg block m-auto text-white mb-4"
  ></span>

  <p *ngIf="!!error">{{ error.message }}</p>

  <div
    *ngIf="!loading && !error"
    class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-2"
  >
    <a
      href="/room?id={{ room.id }}"
      class="room border-{{ seedColor(room.id) }}-900"
      [class.disabled]="roomDisabled(room)"
      *ngFor="let room of rooms"
    >
      <div class="w-full h-full flex items-center justify-center text-2xl absolute">Entrar</div>

      <div class="content bg-{{ seedColor(room.id) }}-800">
        <div class="room-id">#{{ room.id }}</div>
        <img src="/assets/uno-logo.svg" alt="Logo UNO" class="w-[50px] md:w-[100px] mx-auto" />
        <p class="mt-3">{{ room.players.length }}/∞ jogadores</p>
        <p class="mt-3" *ngIf="room.currentGameIndex !== -1">
          {{ room.currentGameIndex + 1 }}º jogo
          <span *ngIf="!!room.currentGame">(jogando)</span>
        </p>
        <p class="mt-3 text-xs text-white" *ngIf="inRoom(room)">Você está nesta sala</p>
      </div>
    </a>

    <button class="new-room" (click)="createRoom()" [disabled]="creatingRoom">
      <i class="fas fa-plus text-6xl" *ngIf="!creatingRoom"></i>
      <div class="text-2xl mt-4" *ngIf="!creatingRoom">Nova sala</div>
      <i class="fas fa-circle-notch fa-spin text-6xl" *ngIf="creatingRoom"></i>
      <div class="text-2xl mt-4" *ngIf="creatingRoom">Criando...</div>
    </button>
  </div>
</div>
