<div class="container max-w-6xl mx-auto px-5 py-4">
  <h1 class="logo-style mb-4 text-center">Sala #{{ room.id }}</h1>

  <div class="text-center my-5">
    <button class="btn btn-success" (click)="startGame()" *ngIf="!starting">Iniciar partida</button>
    <button class="btn" *ngIf="starting" disabled>Iniciando...</button>
  </div>

  <div class="players">
    <div
      class="player bg-{{ seedColor(player.id) }}-800 border-{{
        seedColor(player.id)
      }}-900 animate__animated animate__bounceIn"
      [class.me]="player.id === sessionID"
      [class.owner]="player.id === room.owner"
      [class.offline]="!player.online"
      *ngFor="let player of players"
    >
      <div class="player-name">{{ player.name || '(Sem nome)' }}</div>
      <img
        class="avatar block"
        src="https://api.dicebear.com/6.x/avataaars/svg?seed={{ player.id }}"
        alt="Avatar"
      />
      <div class="player-place">{{ player.place }}</div>
      <div class="score" *ngIf="player.score">{{ player.score }}</div>
      <div class="you" *ngIf="player.id === sessionID">Você</div>
    </div>
  </div>
</div>
