.players {
  @apply grid
	grid-cols-2
	sm:grid-cols-3
	md:grid-cols-4
	lg:grid-cols-5
	gap-4;
}

.players .player {
  @apply border-[6px]
	shadow-[4px_4px_black]
	p-3
	pb-0
	text-white
	transition-all;
}

.players .player.owner {
  @apply border-yellow-500 rounded-lg;
}

.players .player.me {
  @apply border-white;
}

.players .player.offline {
  @apply !opacity-50;
}

.players .player .player-name {
  @apply text-2xl
	text-center
	mb-3;
}

.players .player .score,
.players .player .you {
  @apply absolute 
	bottom-0
	left-0
	h-7
	px-2
	bg-white
	text-black
	rounded-tr-sm
	flex
	items-center
	justify-center;
}

.players .player .score {
  @apply top-0
	bottom-auto
	left-auto
	right-0
	w-7
	p-0
	rounded-full
	bg-blue-500
	text-inherit
	translate-x-[50%]
	translate-y-[-50%];
}

.players .player .player-place {
  @apply absolute bottom-1 right-1 text-2xl;
}
