.players {
  @apply grid
	grid-cols-2
	sm:grid-cols-3
	md:grid-cols-4
	lg:grid-cols-5
	gap-4;
}

.players .player {
  @apply border-white
	border-[6px]
	shadow-[4px_4px_black]
	p-3
	pb-0
	text-white
	transition-all;
}

.players .player.owner {
  @apply border-yellow-500 rounded-lg;
}

.players .player .player-name {
  @apply text-2xl
	text-center
	mb-3;
}

.players .player .score {
  @apply absolute 
	top-0
	right-0
	w-7
	h-7
	bg-blue-500
	rounded-full
	flex
	items-center
	justify-center
	shadow-lg
	translate-x-[50%]
	translate-y-[-50%];
}

.players .player .player-place {
	@apply absolute bottom-1 right-1 text-2xl;
}