<div class="flex items-center justify-center h-full flex-col">
  <img
    src="/assets/uno-logo.svg"
    alt="Logo UNO"
    class="w-[400px] mb-20 drop-shadow-2xl max-w-[calc(100%-40px)]"
  />
  <div class="relative">
    <span
      class="animate-ping absolute h-full w-full rounded-full bg-red-600 opacity-75 left-0"
    ></span>
    <button
      class="border-4 border-red-500 rounded-full shadow-lg hover:scale-125 active:scale-110 duration-300 w-[200px] text-2xl z-10 relative"
      routerLink="/setup"
    >
      <div class="bg-red-600 px-5 py-2 border-4 border-white rounded-full text-white">Iniciar</div>
    </button>
  </div>
</div>
