<div class="bg text-center p-5" *ngIf="!!select" [@fade]>
  <h1 class="text-5xl mb-10">Selecione uma cor</h1>
  <div class="flex gap-3 mb-10 flex-wrap justify-center">
    <uno-card
      class="uno-card animate__animated animate__flipInY"
      style="animation-delay: 0s"
      (click)="s(0)"
      [card]="{ id: 0, color: 0, icon: '' }"
      [size]="size"
    />
    <uno-card
      class="uno-card animate__animated animate__flipInY"
      style="animation-delay: 0.1s"
      (click)="s(1)"
      [card]="{ id: 0, color: 1, icon: '' }"
      [size]="size"
    />
    <uno-card
      class="uno-card animate__animated animate__flipInY"
      style="animation-delay: 0.2s"
      (click)="s(2)"
      [card]="{ id: 0, color: 2, icon: '' }"
      [size]="size"
    />
    <uno-card
      class="uno-card animate__animated animate__flipInY"
      style="animation-delay: 0.3s"
      (click)="s(3)"
      [card]="{ id: 0, color: 3, icon: '' }"
      [size]="size"
    />
  </div>
  <button class="btn btn-error btn-outline" (click)="s(false)">Cancelar</button>
</div>
