.bg {
  @apply absolute
	top-0
	left-0
	w-full
	h-full
	bg-black
	bg-opacity-90
	z-[1]
	flex
	items-center
	justify-center
	flex-col;
}

.uno-card {
	--size: 0.8;
  @apply cursor-pointer
	scale-100
	hover:!scale-110
	active:!scale-90
	transition-all;
}

@media (min-width: 768px) {
  .uno-card {
    --size: 1.5;
  }
}
